providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/home/brianjayd/Documents/Winter2017/os/labs"
          source: "/home/brianjayd/Documents/Winter2017/os/labs/.build-tools.cson"
          name: "Compile"
          command: "gcc lab1.c -o lab1"
          wd: "."
          env: {}
          modifier: {}
          environment:
            name: "child_process"
            config:
              stdoe: "both"
          stdout:
            pipeline: []
          stderr:
            pipeline: []
          output:
            console:
              close_success: true
              queue_in_buffer: true
              colors: false
              stdin: false
            linter:
              no_trace: false
              immediate: false
          version: 2
        }
      ]
  }
]
